body {
	padding: 25px;
}

/* waiting */
.waiting {
	background-image:url('waiting.gif');
	background-repeat: no-repeat;
	height: 1.5em;	
	width: 256px;
}

/* Nav */
nav {
  border: none;
  margin-bottom: 2em;
  margin-top: 0.5em;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
  padding-right: 1em;
  padding-left: 1em;
  border-left: 2px solid black;
}
nav ul li:nth-child(1) {
  border-left: none;
  padding-left: 0em;
}

nav {
  font-size: 75%;
  line-height: 100%;
}

/* end nav */

/* MD Stuff */

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

/* End MD Stuff */

code {
	font-family:"Courier New",Courier,mono;
}

h1 {
	color: maroon;
	font-size: 125%;
	margin-bottom: 1em;
	margin-top: 1em;
}

h2 {
	font-weight: bold;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

header h1 {
	margin-bottom: 5px;
	font-size: 85%;
}

a {
	color: navy;
	text-decoration: none;
}

a:hover {
	color: blue;
}

blockquote {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
}

p {
	margin-bottom: 0.5em;
}

img {
	border: 5px double silver;
	padding: 5px;
	margin: 5px;
}

ul {
  list-style: circle;
}

header,
article,
footer,
nav {
  padding-left: 10px;
  padding-right: 10px;
}

header {
  border-bottom: 1px solid #800000;
}

header,
footer {
  padding-top: 5px;
  padding-bottom: 5px;
  clear: both;
}
footer {
  clear: both;
  border-top: 1px solid #800000;
  margin-top: 2em;
}

form {
	margin-bottom: 1em;
}
